/node_modules/
bridgeConfig.json
.DS_Store
.project
.settings
/plugins/LLRPReader/node_modules/
/plugins/SNMPDevice/node_modules/
/data/
/plugins/COAP/node_modules/
/plugins/MQTT/node_modules/
/plugins/MQTTBroker/node_modules/
/plugins/MQTTBroker/mqttMsg/